<div class="container">
  <div class="project">
    <%= form_tag("/admin/update/#{@project.team_id}") do %>
      <h1 class="name">
        新規プロジェクト
      </h1>
      <div class="note-wrapper">
        <div class="team-info note">
          <p class="title"><span> チーム情報 </span></p>
          <ul>
            <li>チーム名 : <input type="text" name="team_name"></li>
            <li>アプリ名 : <input type="text" name="app_name"></li>
            <li>参加年 : <input type="text" name="year"></li>
            <li>人数 : <input type="text" name="member_num" ></li>
          </ul>
        </div>
      </div>
      <div class="video-wrapper-new">
        <div class="video">
          <div class="video-info">
            <p class="title"><span>Pitch Video</span></p>
            <ul>
              <li> URL : <input type="text" name="pitch_video" ></li>
            </ul>
          </div>
        </div>
        <div class="video">
          <div class="video-info">
            <p class="title"><span>Demo Video</span></p>
            <ul>
              <li> URL : <input type="text" name="demo_video" ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="btn-wrapper">
        <input class="form-btn" type="submit" value="完了">
      </div>
    <% end %>
  </div>
</div>
