.note {
    // margin: 0;
    border: solid 2px #999;
    /*外枠の設定*/
    padding: 0 2em;
    position: relative;

    /*付箋風*/
    // .title {
    //     transform: rotate(-2deg);
    //     margin: 0.5em 0.5em;
    //     font-size: 1.5em;
    //     width: 14rem;
    //     height: 2rem;
    //     padding: 1em 1.5em;
    //     overflow: hidden;
    //     box-shadow: .25rem 0 .25rem hsla(0, 0%, 0%, .1);
    //     background-image:
    //         linear-gradient(90deg, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem), linear-gradient(90deg, hsla(60, 100%, 85%, 1), hsla(60, 100%, 85%, 1));
    //     font-size: 1.125rem;
    //     line-height: 1.8;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    // }

    /*手書き風*/
    .title {
        border-bottom: dashed 1px #ccc;
        font-size: 1.2em;
        /*罫線の設定*/
        line-height: 1.5;
        padding: 0.5em 0 0.5em 0.5em;
        margin: 0;

        span {
            background: linear-gradient(rgba(255, 255, 255, 0) 40%, #BFE1FC 70%);
        }

        /*ドットの設定*/
        &::before {
            content: "";
            position: absolute;
            border-right: dotted 10px #ddd;
            /*ドットの設定*/
            height: 90%;
            top: 0.5em;
            left: 0.5em;
        }
    }

    li {
        border-bottom: dashed 1px #ccc;
        /*罫線の設定*/
        line-height: 1.5;
        padding: 0.5em 0 0.5em 1.5em;
        margin: 0;
        list-style-type: none;

        /*罫線の設定*/
        &:last-of-type {
            border-bottom: none;
        }

        /*チェックアイコンの設定*/
        &::after {
            font-family: FontAwesome;
            content: "\f00c";
            /*アイコンの設定*/
            color: #fdbf64;
            /*色の設定*/
            position: absolute;
            left: 2em;
        }



    }
}